{% extends 'base.html' %}

{% block titulo %}
    Quienes Somos
{% endblock %}

{% block contenidoQueCambia %}

    <center><h1>¿Quiénes somos?</h1></center>
    
    <h3>Somos una empresa focalizada en la venta de artículos de papelería comercial, escolar, técnica, artística, y gran surtido de agendas durante todo el año.

    Estamos orientados al publico minorista mediante la venta retail con más de 21.000 artículos, 6 bocas de expendio, venta online y telefónica a Capital Federal y provincia de Buenos Aires</h3>
    

{% endblock %}